html {
    margin: auto;
    background: #F5F5F5;
    color: #999999;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: none;
}

body,
html,
div,
img,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    padding: 0px;
}

input {
    border: 0;
    outline: 0;
    box-shadow: 0;
}


/* 弹性 */
.flex {
    display: flex;
    display: -webkit-flex;
}

.col {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.fl-w {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.fl-align {
    align-items: center;
    -webkit-align-items: center;
}

.fl-jc {
    justify-content: center;
    -webkit-justify-content: center;
}

.fl-jsb {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.fl-jsa {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.fl-jse {
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}

/* 背景色 */
.b-ff {
    background: #fff;
}

/* 文字大小 */
.fz-9 {
    font-size: 0.09rem;
}

.fz-10 {
    font-size: 0.1rem;
}

.fz-11 {
    font-size: 0.11rem;
}

.fz-12 {
    font-size: 0.12rem;
}

.fz-15 {
    font-size: 0.15rem;
}

.fz-16 {
    font-size: 0.16rem;
}

.fz-23 {
    font-size: 0.23rem;
}

.fz-35 {
    font-size: 0.35rem;
}

/* 文字颜色 */
.c-15 {
    color: #151515;
}

.c-ff {
    color: #fff;
}

.c-02 {
    color: #FF8302;
}

.c-16 {
    color: #FF2C16;
}

.c-01 {
    color: #F08E01;
}

.c-2C {
    color: #FEA32C;
}

.c-4C {
    color: #FF714C;
}

.active {
    color: #FF8302;
}

/* 文字粗细 */
.f-wb {
    font-weight: bold;
}


.hide {
    display: none !important;
}

.m-b15 {
    margin-bottom: 0.15rem;
}